body {
  background-color: #373844;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

div.ui.app.container {
  margin: 2em;
  color: #fff;
  width: 60vw;
}

h1.ui.header {
  color: inherit;
  margin-bottom: 1em;
}